<html>
  <head>
    <title>Wealthy Notification Interface</title>
      <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  <div class="jumbotron" style="text-align: center;">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">
         <h1 style="font-size:60px;">Notification Interface</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-5">
        {% for message in get_flashed_messages() %}
        <p style="color: red; font-size:12px;">{{ message }}</p>
        {% endfor %}
        <form method="POST">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email" value="{{ email }}">
            </div>
          <!-- </div>
            <p>Send test email to: <input type="text" name="email" value="{{ email }}"></p> -->
            <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Send">
        </form>

      </div>
    </div>
    <!-- <div class="row"> -->

      <!-- <div class="col-md-8 col-md-offset-3">
         <h1>Notification Interface</h1>
      </div>
    </div> -->

</div>

</div>
<!-- 

  <div class="jumbotron" style="text-align: center;">
     <h1>Notification Interface</h1>
     <h2></h2> 
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    <div style="text-align:center;">
      <form method="POST">
        <div class="form-group" style="text-align:center;">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" name="email" value="{{ email }}">
          </div>
         </div>
          <p>Send test email to: <input type="text" name="email" value="{{ email }}"></p> 
          <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Send">
      </form>

    </div> -->
    

  </div>
   
  </body>
</html>